@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
a
{	
	color: white;
	text-decoration: none;
}
body
{
	background:#EFEFEF;
	font-family: Dosis,'sans serif';
	font-size: 16px;
}
header
{
	background: #434343;
	color: white;
	padding: 0.5em;
}
header figure, header h1
{
	display: inline-block;
	vertical-align: top;
}
header h1
{
	font-size: 20px;
	font-weight: normal;
	margin:0.8em 0 0 1em; 
	width: 70%;
}
header #avatar
{	
	float: right;
	margin: 1em 1em 0 0;
}
header #avatar figcaption
{
	
	float: right;
	height: 50px;
	line-height: 50px;

}
header #avatar figcaption a
{	
	background: #22BCE0;
	padding: 0 0.2em;
}
header #avatar figcaption a:after
{
	content: "\e000";
	font-family: icomoon;
}
header #avatar img
{	float: left;
	width: 50px;
}
header #logo img
{
	width: 80px;
}
nav
{	
	font-size: 1em;
	position: relative;
}
nav ul 
{	
	background: #838383;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li 
{	
	display: inline-block;
	margin: 0 2em 0 0;
	vertical-align: top;
}
nav ul li a
{	
	display: block;
	padding: 0.5em 0;
}
nav ul #flecha_nav a
{	
	background: #22BCE0;
	padding-left: 0.3em;
	padding-right:0.3em;
}
nav ul #publicar_nav 
{
	float: right;
	margin: 0;
}
nav ul #publicar_nav a
{
	background: #DD4F24;
	padding: 0.5em 1em;
}
nav #home
{
	background: #22BCE0;
	border-radius: 0.3em 0.3em 0 0;
	color: white;
	margin:0;
	padding: 0.2em 0.2em 0.2em 1em;
	position: absolute;
	top: -72%;
	left: 70%;
}
nav #home a
{
	padding: 0 0.5em 0 1.7em;
}
#contenido .post .imagen_post img
{
	width: 96px;
}